<!-- PhotoSwipe -->
<!-- CSS is included here too because reaosns :) -->
{% if page.jsload %}
    <link rel="stylesheet" href="/assets/libs/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/assets/libs/photoswipe/default-skin.css">
    <script src="/assets/libs/photoswipe/photoswipe.js"></script>
    <script src="/assets/libs/photoswipe/photoswipe-ui-default.js"></script>
{% endif %}

<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9KJK4M" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>