<div>
    Share this on &rarr;
    <a href="http://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" style="color:#fff; background:#3b5998; padding: 4px; text-decoration: none;">Facebook</a>
    <a href="http://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" style="color:#fff; background:#00aced; padding: 4px; text-decoration: none;">Twitter</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://justinwzig.github.io/recursive-scrabble-words-with-java/&title=Recursive Scrabble Words With Java&summary=Recursive Scrabble Words With Java for a Riddler Puzzle&source=https://justinwzig.github.io" style="color:##fff; background: #dd49; padding: 4px; text-decoration: none;">Linkedin</a>
</div>